# Ignorar el entorno virtual
env/
venv/

#ignorar el archivo de logs
api_errors.log

# Ignorar archivos de caché de Python
__pycache__/
*.pyc

# Ignorar configuraciones de VSCode
.vscode/

# Ignorar otros archivos innecesarios
.DS_Store

